extends layout
block content

  h1.text-white #{body.name}
  hr
  .container
    .row
      .col-lg-6
        .card
          .card-header.text-white.bg-danger
            | Opening Hours
          .card-body
            p.card-text With supporting text below as a natural lead-in to additional content.




